/Temp
UnityGenerated
/Library
!/Assets/Modules/Library
/build

ExportedObj
*.svd
*.userprefs
*.pidb
Assembly-CSharp*.csproj
UnityVS.*.csproj
UnityVS.*.sln
*.suo
UnityVS.*.sln.DotSettings
*.csproj.DotSettings
!resharperSolutionSettingsTemplate.sln.DotSettings
*.user
*.unityproj
*.booproj
*.sln
*.csproj

*.bak
*.bak.meta

StyleCop.Cache

*~
*.swp
*.swp.meta

Icon\?
Icon\?.meta
"Icon\r"
"Icon\?.meta"
Icon^M^M
Icon^M^M.meta
.DS_Store
.DS_Store.meta
._*
._*.meta
.Spotlight-V100
.Spotlight-V100.meta
.Trashes
.Trashes.meta
.com.apple.timemachine.donotpresent
.com.apple.timemachine.donotpresent.meta
.fseventsd
.fseventsd.meta
.vs/*

Thumbs.db
Thumbs.db.meta
ehthumbs.db
ehthumbs.db.meta
.thumbnails
.thumbnails.meta

!*.dll
!*.obj

UnityVS.VersionSpecific.dll*

*.stackdump
*.stackdump.meta
/Assets/.plastic
/.plastic
ignore.conf*
cloaked.conf*
hidden_changes.conf*

PostproError.log
PostproLog.txt
PostproErrorLog.txt
textwriter.txt
current.log

!/Assets/*.Template.*.zip
/Assets/*.Template.*.zip.meta

/Assets.Backup

Settings.StyleCop.meta

/unityUnitTestResults.out.xml
/doc
/fxCopResults.xml

*.private.*

/Assets/regged*

*.lnk
